.cardsContainer {
  display: grid;
  box-shadow: 0 0 0 3px;
  background-color: rgb(7, 102, 161);
}

.image {
  background: rgba(1, 27, 52, 0.913);
  height: 230px;
  width: auto;
}

.name {
  display: flex;
  justify-content: center;
}

.type {
  margin-left: 10px;
}
