.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(7, 102, 161);
}

.btn:focus,
.btn:active {
  background-color: rgb(7, 102, 161);
  box-shadow: 0 0 3px white;
}
