.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 200px;
}

.input {
  position: absolute;
  border: none;
  width: 20rem;
  height: 1.8rem;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: -20px;
}

.btnContainer {
  border: none;
  position: relative;
  margin-left: 17.5rem;
  margin-top: 10px;
  border-radius: 3px;
}

.btn {
  background-color: rgb(7, 102, 161);
  border: none;
  height: 30.5px;
  cursor: pointer;
  color: white;
  border-radius: 2px;
}

.btn:hover {
  opacity: 1;
}
